altair
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
entrypoints
fonttools
gitdb
GitPython
h11
idna
importlib_metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
outcome
packaging
pandas
pillow
plotly
protobuf
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
pywin32
referencing
requests
rich
rpds-py
seaborn
selenium
six
smmap
sniffio
sortedcontainers
streamlit
tenacity
toml
toolz
tornado
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
webdriver-manager
websocket-client
wsproto
zipp
